body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Medium', sans-serif;
  color: #141414;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}


.navbarframe {
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.nav-links .active {
  color: #0065FE;
}

.nav-button {
  display: flex;
  align-items: center;
}

.nav-button button {
  margin-right: 10px;
}

.signup-button {
  text-align: right;
  margin-top: 10px;
}

.signup-button .signupButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.login {
  padding: 0;
  border: none;
  background: none;
  color: #0065FE;
  margin-right: 20px;
}

.Optimizeframe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro {
  width: 948px;
  height: 389px;

}

.intro div {
  align-items: center;
  font-size: 48px;
  line-height: 96px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.intro div span {
  position: relative;
}

.underline {
  display: flex;
  justify-content: center;
  align-items: center;
}


.intro p {

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 3rem;
}

.signupContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 1cm;
  margin-bottom: 7em;
}

.signupButton {
  margin-right: 10px;
  width: 142px;
  height: 44px;
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  gap: 10px;
  background-color: #0065FE;
  border: none;
  color: #FFFFFF;
  ;


}

.learnmore {
  width: 84px;
  height: 20px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #0065fE;
}

.vectorbox {
  position: relative;
  width: 768px;
  height: 224px;
  padding: 40px 60px 40px 60px;
  border-radius: 24px;
  border: 0.5px solid #005AE2;
  gap: 16px;
  background: linear-gradient(to right, #E2E9F0, #FEFEFE 10%);
  z-index: 20;


}

.triangle {
  position: absolute;
  width: 238px;
  height: 350px;
  top: -20px;
  margin-right: 40rem;
}

.stackParent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 8rem;
  margin-left: 10rem;
}

.sphere {
  max-width: 100%;
}


.vectorbox p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: 'Gilroy-Medium', sans-serif;
}



.valueusecase {
  height: 220px;
  left: -3px;
  padding: 60px 140px 60px 140px;
  gap: 120px;
  background-color: #F9FBFD;
}


.column1 div {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

span {
  color: #005AE2;
}

ul {
  width: 709px;
  height: 100px;
  gap: 72px
}

li {
  list-style: none;
  display: inline-block;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  padding: 60px 140px;
  gap: 120px;
  background-color: #F9FBFD;
  margin-top: -5px;
  margin-bottom: 3rem;
}


.firstColumn {
  flex-grow: 1;
  padding: 10px;
}

.secondColumn {
  flex-grow: 1;
  padding: 10px;
}

.possibility-stats {
  margin-left: -6rem;
}

.footer-stats {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-stats li {
  flex-basis: 25%;
  text-align: left;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
}

.stat-label {
  font-size: 14px;
  margin-top: 5px;
}

.column1 {
  flex-basis: 60%;
  text-align: left;
}

.aboutcolumn {
  float: left;
  padding: 10px;
  height: 504px;
  gap: 96px;
  /* padding: 0 120px; */
}



.middle,
.right,
.left {
  width: 31%;
}

.aboutRow:after {
  content: "";
  display: table;
  clear: both;

}

.aboutsection {
  padding: 0 0 70px 70px;

}

.scissorscolumn {
  flex-grow: 1;
  width: 398.1px;
  height: 256px;
  gap: 16px;



}

.Whychoose {
  width: 382px;
  height: 32px;
  white-space: nowrap;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}


.choose {
  width: 370px;
  font-size: 16px;
  margin-top: 2rem;
  line-height: 28px;
}


.productcolumn {
  flex-grow: 1;
}

.URLshort {
  margin-top: 23px;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.short {
  width: 340px;
  height: 80px;
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 24px;
}

.QRCodes {
  margin-top: 23px;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.QR {
  width: 340px;
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 24px;
}

.CustomURLs {
  margin-top: 23px;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.custom {
  width: 340px;
  height: 71px;
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 24px;
}

.Analytics {
  margin-top: 23px;
  width: 340px;
  gap: 16px;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 32px;
  line-height: 28px;
}

.Ana {
  width: 340px;
  height: 80px;
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;

  line-height: 24px;
}

.price {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-block-end: 5rem;
}


.priceperfect {

  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0em;

}

.aboutpricing {
  font-family: Gilroy-Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;

  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-block-end: 5rem;
}


.pricecontainer {
  width: 1088px;
  height: 627px;
  top: 218px;
  left: 176px;
  border-radius: 12px;
  border-width: [object Object]px, [object Object]px, [object Object]px, [object Object]px;

  border-style: solid;

  border-color: #005AE2;


}

.basiccard {
  padding-top: 20;
  padding-bottom: 30;
  border: 0.4px solid #005AE2;
  border-color: blue;
  background-color: red;
}








/*
    width: 379px;
height: 455px;
top: 304px;
left: 176px;
padding: 24px 98px 45px 87px;
border-radius: 12px;
border: 0.4000000059604645px;

box-shadow: 0px 4px 8px 0px #0000000D;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
linear-gradient(0deg, #005AE2, #005AE2);

} */



.priceCont {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.col-container {
  display: flex;
  width: 1088px;
  height: 627px;

}

.col1 {
  flex: 1;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 12px 0 0 12px;
  border: 0.4px solid #005AE2;
  border-right: none;
}

.col2 {
  flex: 1.3;
  background-color: #1E3448;
  border-radius: 12px;
  color: white;
}

.col3 {
  flex: 1;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 0 12px 12px 0;
  border: 0.4px solid #005AE2;
  border-left: none;
}

.col1content {
  padding: 70px 0 0 70px
}

.col2content {
  padding: 120px 0 0 70px
}

.priceHeader {
  line-height: 32px;
  font-size: 24px;
}

.prices {
  line-height: 48px;
  font-size: 40px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.priceSubHeader {
  line-height: 32px;
  font-size: 20px;
}

.priceList {
  line-height: 24px;
  font-size: 14px;
}


.custompricingcont {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

.Getcustom {
  text-align: center;
  margin-right: 10px;
  width: 200px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  gap: 10px;
  white-space: nowrap;
  border: none;
  border: 1px solid #0065FE;
  color: #0065FE;
}

.SelectPric {
  margin-right: 10px;
  width: 200px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  gap: 10px;
  border: none;
  border: 1px solid #0065FE;
  color: #ffff;
  background-color: #0065FE;

}